# Build directory
build/
sdmc/

# Compiled binary files
*.cia
*.elf
*.smdh
*.3dsx
*.cxi

# DS_Store (macOS metadata)
.DS_Store

# Backup or temporary files
*~
*.bak
*.tmp
*.log

# Visual Studio Code settings (optional)
.vscode/
